/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css (1) ***!
  \*********************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css (2) ***!
  \*********************************************************************/
#logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 50%;
    position:relative;
    left: 45%;
}

.list{
    position:relative;
    left: 42%;
    width: 281px;
}
.anclas{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;    
    font-family: "Open Sans", sans-serif;
}
h3{
    font-family: 'Open Sans', sans-serif;

}
h3#lso{
    width: 340px;
}

.header{
    width: 40px;
    margin: 4px 40px;

}
.materia{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -49px;
    left: 200px;
    font-size: 30px;
    width: 300px;
    color:white;
}
#stheader{
    height: 50px;
    background-color: #4051b5;
    margin: -6px;
    padding-left: 13%;
    box-shadow: 1px 9px rgba(70, 69, 163, 0.301);
}
.body{
    background-color: rgb(30, 30, 44);
}
.text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#htl,#heading,#htm{
    width: 90vh;
}
#stmain{
    width:60%;
position: relative;
left:30%;
top: 25px;
}
#lio, #lid{
    padding-top: 4px;
    height: 30px;
    border: 5px ;
    border-color: rgb(30, 30, 44);
    background:rgba(45, 45, 58, 0.678);
}
#stnav{
position: fixed;
left:5px;
width: 28%;
top: 85px;
}


